.root {
  overflow: hidden;
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hiddenScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hiddenScrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.customScrollBar::-webkit-scrollbar {
  height: 5px;
}
.customScrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.customScrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
.customScrollBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nc-will-change-top {
  will-change: top;
}
